bin
.vscode
results

Resultados/command1_output.txt
Resultados/command2_output.txt
Resultados/command3_output.txt
Resultados/command4_output.txt
Resultados/command5_output.txt
Resultados/command6_output.txt
